<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <div class="footer"><a href="www.facebook.com"></a></div>
                <div class="footer2"></div>
                <div class="footer3"></div>
                <div class="footer4"></div>
                <!--<img src="img/untitled-2.png" onmouseover="this.src='img/reversetwitter.png';"onmouseout="this.src='img/untitled-2.png';"class="footer">
             <img src="img/fb.png" onmouseover="this.src='img/reversefb.png';" onmouseout="this.src='img/fb.png';" class="footer2 ">
             <img src="img/instalogo.png" onmouseover="this.src='img/reverseinsta.png';" onmouseout="this.src='img/instalogo.png';" class="footer3">
             <img src="img/youtubelogo.png" onmouseover="this.src='img/reverseyoutube.png';"onmouseout="this.src='img/youtubelogo.png';"class="footer4">-->
            </div>
        </div>
        <div class="col-md-6">
            <div class="pull-right">

            </div>
        </div>
    </div>
</div>