<div class="container">
    <div ng-hide="devicetest()" class="row">

        <div class="col-lg-6 col-lg-offset-6 col-sm-12">
            <div class="newsbar basicstyle ">
                <div class="newsinner">
                    <p class="newstext">With two matches remaining in the league, Somaiya Vidyavihar already qualified into the playoffs.</p>
                </div>
                <div class="newsborder"></div>
            </div>
        </div>
    </div>

    <div class="row homeboxes">

        <!-- <div class="col-lg-4 col-sm-12 col-xs-12">-->
        <div class="col-lg-4 col-sm-12 col-xs-12 homeboxesinner">
            <div class="nextmatch">
                <img src="img/nextmatchbar.jpg" width="100%">
                <p class="matchtext">
                    <span class="glyphicon glyphicon-circle-arrow-right " aria-hidden="true" style="color: darkcyan"></span>
                    Gokul mitra mandal</p>
                <p class="homeboxestext">
                    <span class="glyphicon glyphicon-calendar " aria-hidden="true" style="color: darkcyan"></span>
                    15th February 2015</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 homeboxesinner">
            <div class="nextmatch">
                <img src="img/lastmatch.jpg" width="100%">
                <p class="matchtext">
                    <span class="glyphicon glyphicon-circle-arrow-left " aria-hidden="true" style="color: darkcyan"></span>
                    Young Guns</p>
                <p class="homeboxestext">
                    <span class="glyphicon glyphicon-calendar " aria-hidden="true" style="color: darkcyan"></span>
                    22nd January 2015</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-xs-12 homeboxesinner">
            <div class="nextmatch">
                <img src="img/leaguebar.jpg" width="100%">
                <p class="matchtext">
                    <span class="glyphicon glyphicon-circle-arrow-up " aria-hidden="true" style="color: darkcyan"></span>
                   <!-- <p class="matchtext"> Somaiya Vidyavihar football club</p>-->
                    <table class="table table-striped">
                        <tr style="font-size:large">
                            <th>#</th>
                            <th>P</th>
                            <th>W</th>
                             <th>GF</th>
                            <th>GA</th>
                            <th>GD</th>
                        </tr>
                        <tr class="success leaguetext">
                            <td>1</td>
                            <td>7</td>
                            <td>7</td>
                             <td>22</td>
                             <td>4</td>
                            <td>18</td>
                        </tr>

                    </table>
                </p>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-xs-12">
            <div class="tweetsbox">

                <blockquote class="twitter-tweet" data-cards="hidden" lang="en">
                    <p>Jay-Z Gets Into Music Streaming With $56M Bid For Aspiro, Owner Of WiMP And Tidal <a href="http://t.co/ORh8ZCxq2W">http://t.co/ORh8ZCxq2W</a> by <a href="https://twitter.com/jonrussell">@jonrussell</a>
                    </p>&mdash; TechCrunch (@TechCrunch) <a href="https://twitter.com/TechCrunch/status/561113688707325953">January 30, 2015</a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>


        <div class="col-lg-6 col-sm-12 col-xs-12">
            <div>
                <blockquote class="twitter-tweet" lang="en">
                    <p><a href="https://twitter.com/PixoloDesigns">@PixoloDesigns</a> are designing the website for Somaiya Vidyavihar Football Team, its gonna be awesome...</p>&mdash; Abhay Amin (@aminAbhay) <a href="https://twitter.com/aminAbhay/status/561120514354073601">January 30, 2015</a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>


    </div>


</div>