<div class="container">

<div ng-show="devicetest()" id="mobilemenu"><a>HOME</a><a href="#/about">ABOUT</a><a>TEAM</a><a href="#/contact">CONTACT</a></div>

   <div ng-hide="devicetest()" class= "pcmenu basicstyle pcsvsc ">
      <div class="pctext" > <p>SVSC</p></div>
    
    </div> 
    <div ng-hide="devicetest()" class="pcmenu basicstyle">
    
    
    <a href="#/home" class="home">HOME</a><a href="#/about" class="about">ABOUT</a><a  href="#/team" class="team">TEAM</a><a  class="contact" href="#/contact">CONTACT</a>
        
    
</div>
    
    <div ng-hide="devicetest()" class= "pcmenu basicstyle ">
      <div class="pctext" > <p>news</p></div>
    
    </div> 


</div>